.promotion-container {
  --animation-height: 40rem;
  --animation-width: 40rem;
  --animated-line-size: 2px;
  --animated-line-color: #cfbad6;
}

.promotion-container {
  display: grid;
  place-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.promotion-list {
  display: grid;
  margin: 15%;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  border-radius: 2rem;
  list-style: none;
  background-color: var(--pink-shadow);
}

.promotion-list li {
  cursor: pointer;
  padding: 1rem;
  transition: all 0.3s ease;
  display: grid;
  place-content: center;
  border-radius: 8px;
  box-sizing: border-box;
}

.promotion-list li svg {
  font-size: 7em;
}

.promotion-list li:hover {
  background-color: rgba(200, 163, 215, 0.6);
  color: white;
}

.promotion-list div,
.promotion-list span {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  text-align: center;
  z-index: 3;
  transform: translate(-50%, -50%);
}

.promotion-list div {
  background-color: rgb(39, 57, 39);
}

.promotion-list div::before,
.promotion-list div::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  height: var(--animated-line-size);
  background-color: var(--animated-line-color);
  transition: all 0.6s ease;
}

.promotion-list div::before {
  transform: translateX(-50%);
}

.promotion-list div::after {
  width: var(--animated-line-size);
  transform: translateY(-50%);
}

@keyframes animated-lines-height {
  0% {
    height: 0px;
  }
  100% {
    height: var(--animation-height);
  }
}

@keyframes animated-lines-width {
  0% {
    width: 0px;
  }
  100% {
    width: var(--animation-width);
  }
}

.animated-lines::before {
  animation-name: animated-lines-width;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.animated-lines::after {
  animation-name: animated-lines-height;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@media (max-width: 1650px) {
  .promotion-container {
    --animation-height: 35rem;
    --animation-width: 35rem;
  }
}

@media (max-width: 1250px) {
  .promotion-container {
    --animation-height: 25rem;
    --animation-width: 25rem;
  }
}

@media (max-width: 1024px) {
  .promotion-container {
    --animation-height: 30rem;
    --animation-width: 30rem;
  }
}

@media (max-width: 800px) {
  .promotion-container {
    --animation-height: 40vw;
    --animation-width: 40vw;
  }
}
