.gameContainer {
    --board-size: 80rem;
    --piece-size: calc(var(--board-size) / 8 * 0.7);
}

.boardRow,
.darkSquare,
.lightSquare {
    display: flex;
}

.darkSquare,
.lightSquare {
    height: 10rem;
    width: 10rem;
    display: grid;
    place-items: center;
}

.darkSquare {
    background-color: #0d5228;
    color: #b7faf2
}

.lightSquare {
    background-color: #91dfb2;
    color: #442274
}

.takeable {
    background-color: #184d97;
}

.square,
.takeable {
    margin: auto;
}

.pieceIcon {
    position: absolute;
    display: inline-block;
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out, opacity 0.1s linear;
    pointer-events: none;
}

.pieceIcon svg {
    width: var(--piece-size);
    height: var(--piece-size);
}

.legalMove {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: rgba(44, 106, 186, 0.6);
}

.promotion-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.canBeTaken {
    box-shadow: 0px 0px 10px 2px rgb(166, 12, 12);
}

.chessboardContainer {
    position: relative;
    display: grid;
    width: var(--board-size);
    height: var(--board-size);
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}