.clock {
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem 0rem;
    text-align: center;
    font-size: 1.3em;
}

.white_clock {
    background-color: #c6e3d4;
    color: #01160b;
}
.black_clock {
    background-color: #01160b;
    color: #c6e3d4;
}