/* General styles */
.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.player-UI-container,
.player-menu-container {
  display: flex;
  flex-direction: column;
}

/* Desktop layout */
.white-player-UI-container {
  grid-area: white-menu;
}

.black-player-UI-container {
  grid-area: black-menu;
}

.settings-container {
  grid-area: settings;
}

.white-player-UI-container {
  align-self: flex-end;
}

/* Player actions menu */

.player-menu-interactables-container {
  display: grid;
  width: 100%;
  gap: 1rem;
}

.player-menu-container {
  gap: 1rem;
}

.player-actions-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.player-actions-container button {
  padding: 1.5rem 0px;
  font-size: var(--secondary-title);
  border-radius: 0.6em;
  border: none;
}

.player-clock {
  position: relative;
  display: grid;
  place-content: center;
  padding: 2rem 0px;
  border-radius: 0.6rem;
  font-size: var(--clock-font-size);
  width: 100%;
}

.white-clock {
  background-color: var(--light-square);
  color: var(--dark-square);
}

.black-clock {
  background-color: var(--dark-square);
  color: var(--light-square);
}

.active-clock {
  box-shadow: 0px 0px 15px #fff;
}

.inactive-clock::after {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.6rem;
}

.is-forfeiting {
  background-color: #e55568;
  color: white;
}

.is-offering-draw {
  background-color: var(--main-color);
  color: white;
}

.player-menu-drawing-message {
  display: grid;
  place-content: center;
  padding: 1rem 0rem;
  font-size: clamp(12px, 1vw, 16px);
}

/* Player profile */

.player-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.player-profile-container svg {
  font-size: 8em;
  padding: 1rem;
  border: solid 2px var(--main-color);
  border-radius: 50%;
  box-shadow: 0px 0px 20px var(--pink-shadow);
}

.player-profile-container input {
  width: 100%;
  padding: 1rem 0px;
  text-align: center;
  border-radius: 0.6rem;
}

.player-profile-container h3 {
  width: 50%;
}

/* Taken Pieces */

.taken-piece-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  list-style: none;
  font-size: var(--base-text-size);
}

.taken-piece-item {
  border-radius: 1rem;
  padding: 5px;
  box-shadow: 0px 0px 10px #373737;
}

.taken-piece-item > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.taken-piece-item span {
  padding: 1rem;
}

.taken-piece-item svg {
  font-size: 3rem;
}

.taken-piece-title {
  font-size: var(--secondary-title);
  align-self: flex-start;
}

/* Notation */

.moves-list-container {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px var(--pink-shadow);
  height: fit-content;
  background-color: var(--pink-shadow);
}

.moves-list-container h3 {
  font-size: var(--primary-title);
}

.moves-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  min-height: 5vh;
  max-height: 25vh;
  overflow-y: scroll;
  scrollbar-color: var(--main-color);
  padding: 1rem;
  border: 2px solid var(--light-square);
  border-radius: 1rem;
  font-size: var(--base-text-size);
  font-weight: bold;
  list-style-type: none;
}

.moves-list::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

.moves-list li {
  text-align: center;
  padding: 1rem 0px;
  background-color: var(--main-color);
  height: fit-content;
}

.moves-list li:nth-child(even) {
  background-color: var(--dark-square);
}

/* Settings */

.settings-container {
  font-size: var(--base-text-size);
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--pink-shadow);
  box-shadow: 0px 0px 20px var(--pink-shadow);
  align-self: flex-end;
}

.settings-container form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.animation-toggle-container,
.checkbox-wrapper-5 {
  display: flex;
  align-items: center;
}

.animation-toggle-container {
  height: fit-content;
}

.settings-container h3 {
  font-size: var(--primary-title);
  margin-bottom: 1.5rem;
}

.settings-container h5 {
  font-size: var(--secondary-title);
}

.settings-container button {
  padding: 2rem 0px;
  font-size: var(--base-text-size);
  font-weight: bold;
  background-color: transparent;
  border: solid 2px var(--light-square);
  border-radius: 1rem;
  transition: background-color 0.5s, color 0.5s;
}

.settings-container button:hover {
  background-color: var(--light-square);
  color: var(--dark-square);
}

.time-format-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.time-format-container h5 {
  margin-bottom: 1rem;
}

.checkbox-wrapper-5 {
  margin-left: 1rem;
}

.time-format-container > div {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.time-format-container input {
  width: 5rem;
  padding: 0.2rem 0px;
  text-align: center;
}

/* Animations Checkbox styles (credit to David Darnes) */
.checkbox-wrapper-5 .check {
  --size: 2rem;
  position: relative;
  background: linear-gradient(90deg, #f19af3, #f099b5);
  line-height: 0;
  perspective: 400px;
  font-size: var(--size);
}

.checkbox-wrapper-5 .check input[type="checkbox"],
.checkbox-wrapper-5 .check label,
.checkbox-wrapper-5 .check label::before,
.checkbox-wrapper-5 .check label::after,
.checkbox-wrapper-5 .check {
  appearance: none;
  display: inline-block;
  border-radius: var(--size);
  border: 0;
  transition: 0.35s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}

.checkbox-wrapper-5 .check label {
  width: calc(2.2 * var(--size));
  height: var(--size);
  background: #d7d7d7;
  overflow: hidden;
}

.checkbox-wrapper-5 .check input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  width: calc(0.8 * var(--size));
  height: calc(0.8 * var(--size));
  top: calc(0.1 * var(--size));
  left: calc(0.1 * var(--size));
  background: linear-gradient(45deg, #dedede, #ffffff);
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
  outline: none;
  margin: 0;
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked {
  left: calc(1.3 * var(--size));
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label {
  background: transparent;
}

.checkbox-wrapper-5 .check label::before,
.checkbox-wrapper-5 .check label::after {
  content: "· ·";
  position: absolute;
  overflow: hidden;
  left: calc(0.15 * var(--size));
  top: calc(0.5 * var(--size));
  height: var(--size);
  letter-spacing: calc(-0.04 * var(--size));
  color: #9b9b9b;
  font-family: "Times New Roman", serif;
  z-index: 2;
  font-size: calc(0.6 * var(--size));
  border-radius: 0;
  transform-origin: 0 0 calc(-0.5 * var(--size));
  backface-visibility: hidden;
}

.checkbox-wrapper-5 .check label::after {
  content: "●";
  top: calc(0.65 * var(--size));
  left: calc(0.2 * var(--size));
  height: calc(0.1 * var(--size));
  width: calc(0.35 * var(--size));
  font-size: calc(0.2 * var(--size));
  transform-origin: 0 0 calc(-0.4 * var(--size));
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::before,
.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
  left: calc(1.55 * var(--size));
  top: calc(0.4 * var(--size));
  line-height: calc(0.1 * var(--size));
  transform: rotateY(360deg);
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
  height: calc(0.16 * var(--size));
  top: calc(0.55 * var(--size));
  left: calc(1.6 * var(--size));
  font-size: calc(0.6 * var(--size));
  line-height: 0;
}

.animation-toggle-container label {
  color: transparent;
}

/* Media queries */

@media (max-width: 1400px) {
  .taken-piece-item span {
    padding: 0.5rem;
  }
  .taken-piece-item svg {
    font-size: 2.5rem;
  }
  .player-clock {
    padding: 1rem 0px;
  }
  .taken-piece-item svg {
    font-size: 2rem;
  }
  .player-profile-container svg {
    font-size: 6em;
  }
  .player-actions-container button {
    padding: 1rem 0rem;
  }
  .moves-list-container li {
    padding: 0.5rem 0rem;
  }
  .player-menu-container {
    gap: 0px;
  }
  .time-format-container button {
    padding: 1.5rem 0rem;
  }
}

@media (max-width: 1250px) {
  .checkbox-wrapper-5 .check {
    --size: 1.5rem;
  }
  .settings-container,
  .white-player-UI-container,
  .black-player-UI-container,
  .moves-list-container {
    align-self: center;
  }
  .settings-container {
    padding: 1rem;
  }
  .settings-container input {
    padding: 0.1rem 0px;
  }
  .player-profile-container svg {
    width: 6rem;
    height: 6rem;
  }
  .time-format-container > div {
    flex-direction: column;
    align-items: flex-start;
  }
  .time-format-container > div input {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .player-menu-drawing-message {
    padding: 0px;
  }
  .taken-piece-item svg {
    font-size: 2rem;
  }
  .player-actions-container button {
    padding: 1rem 0rem;
  }
}

@media (max-width: 1024px) {
  .settings-container:not(.show-mobile),
  .moves-list-container:not(.show-mobile),
  .taken-piece-container,
  .player-menu-drawing-message {
    display: none;
  }
  .player-menu-container {
    display: grid;
    width: 65vw;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem 0rem;
  }
  .player-profile-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .player-menu-interactables-container {
    margin: 0px;
  }
  .show-mobile {
    border-radius: 0px;
    padding: 2rem;
  }
  .show-mobile .moves-list {
    max-height: 45vh;
  }
  .player-profile-container h3 {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .player-menu-container {
    width: 95vw;
  }
  .time-format-container input {
    text-align: start;
  }
}
