:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --background-theme: #fff;
  --light-square: #e2e6eb;
  --dark-square: #1d2d3a;
  --main-color: #b984ce;
  --pink-shadow: rgba(185, 132, 206, 0.8);
  --theme-color: #b984ce;
  --highlight-background-color: #b984ce;
  --highlight-text-color: #fff;
  --base-text-color: #000;
  --base-text-size: 1.6rem;
  --primary-title: 3rem;
  --secondary-title: 2rem;
  --clock-font-size: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-theme: #121212;
    --theme-color: #1e1e1e;
    --base-text-color: #fff;
    --highlight-background-color: #fff;
    --highlight-text-color: #1d2d3a;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--base-text-color);
  background-color: var(--background-theme);
  min-height: 100vh;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 1250px) {
  :root {
    --base-text-size: 1.4rem;
    --primary-title: 2.8rem;
    --secondary-title: 1.8rem;
    --clock-font-size: 2.5rem;
  }
}

@media (max-width: 1024px) {
  :root {
    --base-text-size: 1.2rem;
    --primary-title: 2.6rem;
    --secondary-title: 1.6rem;
    --clock-font-size: 2rem;
  }
}
