.mainContainer {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.chessTitle {
  margin-bottom: 2em;
  font-size: 50px;
}