.mainContainer {
  display: flex;
  overflow: hidden;
  height: 95vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chessTitle {
  margin-bottom: 2em;
  font-size: 50px;
}
